@import "./components/nav";
@import "./components/search";
@import "./components/footer";
@import "./pages/home";
@import "./core/reset";
@import "./pages/myphotos";

body {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/plant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  input {
    outline: 1px solid #1976d2;
    color: white;
  }
  input.MuiInputBase-input {
    color: white;
    outline: 1px solid white;
  }

  select {
    outline: 1px solid black;
  }
  label.MuiFormLabel-root {
    color: white;
  }
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #1976d2;
}
