
@import './components/nav';
@import './components/search';
@import './components/footer';
@import './pages/home';
@import './core/reset';
@import './pages/myphotos';

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a
{
    color:white;
}
a:hover{
    color:green;
}
