
@import './components/nav';
@import './components/search';
@import './components/footer';
@import './pages/home';
@import './core/reset';
@import './pages/myphotos';

body{
    min-height: 100vh;
    position: relative;
}
main{
    padding-bottom: 100px;
}
a
{
    color:white;
}
a:hover{
    color:green;
}
