div.savedImages-container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  min-height: 70vh;
  input.MuiInputBase-input {
    color: #1976d2;
  }
  img
  {
    height:300px;
  }
  .visible{
    display:block;
  }
  .invisible{
    display: none;
  }
  label.MuiFormLabel-root
  {
    color:#1976d2;
  }
}
div.MuiSelect-select {
  color: #1976d2;
}
