nav
{
	position: sticky;
  	top: 0;
	z-index: 1;
	margin-top:20px;
	color:white;
	height:15vh;
	ul
	{
		height:100%;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		align-items: center;
		li
		{
			margin: 0px 20px;
			font-weight: bold;
		}
	}
}