nav.MuiPagination-root
{
    margin-top: 20px;
    height:auto;
    position: inherit;
    padding:10px;
    background-color: transparent;
    button{
        color:white;
        border:1px solid white;
    }
}