main.main__search
{
    width:80%;
    margin: auto;
    input
    {
        padding: 10px;
        background:black;
        color:white;
        width:60%;
    }
    input[type=submit]
    {
        background-color: green;
        width:30%;
        margin-left:10px;
    }
    ::placeholder{
        color:white;
    }
}
div.images-container
{
    margin-top: 50px;
    img
    {
        max-width:300px;
        height:auto;
    }
}